<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,1},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1349,1},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,379},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1281,379},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1336,282},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1336,282},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1336,212},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1336,212},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,71},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1349,71},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,571},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1266,571},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,501},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1266,501},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,719},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1228,719},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,664},{70,53}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1228,664},{70,53}}</string>
				<key>sourceSize</key>
				<string>{84,61}</string>
			</dict>
			<key>btn_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,526},{43,40}}</string>
				<key>offset</key>
				<string>{8,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{304,526},{43,40}}</string>
				<key>sourceSize</key>
				<string>{60,50}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,797},{37,37}}</string>
				<key>offset</key>
				<string>{11,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{879,797},{37,37}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>btn_close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,797},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{840,797},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>btn_close3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1323,449},{40,40}}</string>
				<key>offset</key>
				<string>{15,15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1323,449},{40,40}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>btn_daoju_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,972},{122,39}}</string>
				<key>offset</key>
				<string>{16,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,972},{122,39}}</string>
				<key>sourceSize</key>
				<string>{148,51}</string>
			</dict>
			<key>btn_daoju_unselected.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,931},{122,39}}</string>
				<key>offset</key>
				<string>{16,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,931},{122,39}}</string>
				<key>sourceSize</key>
				<string>{148,51}</string>
			</dict>
			<key>btn_duihuanjilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,981},{140,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{176,981},{140,38}}</string>
				<key>sourceSize</key>
				<string>{140,38}</string>
			</dict>
			<key>btn_feedback.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,885},{118,132}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{983,885},{118,132}}</string>
				<key>sourceSize</key>
				<string>{120,132}</string>
			</dict>
			<key>btn_jinbi_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,881},{124,48}}</string>
				<key>offset</key>
				<string>{13,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{512,881},{124,48}}</string>
				<key>sourceSize</key>
				<string>{148,51}</string>
			</dict>
			<key>btn_jinbi_unselected.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,234},{124,48}}</string>
				<key>offset</key>
				<string>{13,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{694,234},{124,48}}</string>
				<key>sourceSize</key>
				<string>{148,51}</string>
			</dict>
			<key>btn_shopCustomer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,842},{55,67}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1366,842},{55,67}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_zuanshi_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,190},{125,42}}</string>
				<key>offset</key>
				<string>{14,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{694,190},{125,42}}</string>
				<key>sourceSize</key>
				<string>{148,51}</string>
			</dict>
			<key>btn_zuanshi_unselected.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,526},{125,42}}</string>
				<key>offset</key>
				<string>{14,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,526},{125,42}}</string>
				<key>sourceSize</key>
				<string>{148,51}</string>
			</dict>
			<key>face.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,820},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1221,820},{75,75}}</string>
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>fnt_shop_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,515},{138,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1126,515},{138,147}}</string>
				<key>sourceSize</key>
				<string>{138,147}</string>
			</dict>
			<key>fnt_shop_name_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,515},{138,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1126,515},{138,147}}</string>
				<key>sourceSize</key>
				<string>{138,147}</string>
			</dict>
			<key>icon_exchange_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,631},{142,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{525,631},{142,52}}</string>
				<key>sourceSize</key>
				<string>{142,52}</string>
			</dict>
			<key>icon_mate60.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,190},{175,196}}</string>
				<key>offset</key>
				<string>{27,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,190},{175,196}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_award_ticket.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,212},{147,165}}</string>
				<key>offset</key>
				<string>{35,31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1187,212},{147,165}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_btn_fenxiang_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,777},{65,63}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1366,777},{65,63}}</string>
				<key>sourceSize</key>
				<string>{67,63}</string>
			</dict>
			<key>img_btn_shipin_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,141},{67,56}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1349,141},{67,56}}</string>
				<key>sourceSize</key>
				<string>{67,63}</string>
			</dict>
			<key>img_btn_shipin_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,719},{67,56}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1298,719},{67,56}}</string>
				<key>sourceSize</key>
				<string>{67,63}</string>
			</dict>
			<key>img_charm_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,306},{144,146}}</string>
				<key>offset</key>
				<string>{37,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,306},{144,146}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_charm_egg.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,541},{138,169}}</string>
				<key>offset</key>
				<string>{40,33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{986,541},{138,169}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_charm_pao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,1},{158,169}}</string>
				<key>offset</key>
				<string>{27,30}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1029,1},{158,169}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_charm_roseb.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,700},{165,179}}</string>
				<key>offset</key>
				<string>{30,17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{524,700},{165,179}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_charm_tomato.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,172},{156,166}}</string>
				<key>offset</key>
				<string>{33,26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1029,172},{156,166}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,842},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1423,842},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>
			<key>img_diamond_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,714},{131,81}}</string>
				<key>offset</key>
				<string>{64,63}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{840,714},{131,81}}</string>
				<key>sourceSize</key>
				<string>{264,195}</string>
			</dict>
			<key>img_diamond_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,1},{173,118}}</string>
				<key>offset</key>
				<string>{47,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{527,1},{173,118}}</string>
				<key>sourceSize</key>
				<string>{264,195}</string>
			</dict>
			<key>img_diamond_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{177,187}}</string>
				<key>offset</key>
				<string>{43,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{177,187}}</string>
				<key>sourceSize</key>
				<string>{264,195}</string>
			</dict>
			<key>img_duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,948},{115,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1103,948},{115,62}}</string>
				<key>sourceSize</key>
				<string>{115,62}</string>
			</dict>
			<key>img_emoji_angry_chick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,388},{174,209}}</string>
				<key>offset</key>
				<string>{23,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,388},{174,209}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_entity_bingxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,777},{66,151}}</string>
				<key>offset</key>
				<string>{77,35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1298,777},{66,151}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_entity_saodijiqiren.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,875},{166,104}}</string>
				<key>offset</key>
				<string>{27,58}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{176,875},{166,104}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_entity_xiyiji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,664},{98,154}}</string>
				<key>offset</key>
				<string>{61,33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,664},{98,154}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_fengxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,641},{65,63}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1300,641},{65,63}}</string>
				<key>sourceSize</key>
				<string>{67,63}</string>
			</dict>
			<key>img_firecracker.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,1},{161,188}}</string>
				<key>offset</key>
				<string>{30,19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{866,1},{161,188}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,931},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{636,931},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>img_gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,875},{166,108}}</string>
				<key>offset</key>
				<string>{49,49}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{344,875},{166,108}}</string>
				<key>sourceSize</key>
				<string>{264,195}</string>
			</dict>
			<key>img_golden_egg.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,714},{143,169}}</string>
				<key>offset</key>
				<string>{38,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{983,714},{143,169}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_golden_eggs.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,700},{171,154}}</string>
				<key>offset</key>
				<string>{25,36}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{351,700},{171,154}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_gonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1334,948},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1334,948},{112,62}}</string>
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>img_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,987},{35,34}}</string>
				<key>offset</key>
				<string>{12,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{636,987},{35,34}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>img_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,898},{42,44}}</string>
				<key>offset</key>
				<string>{19,18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1423,898},{42,44}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img_hongdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,911},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1403,911},{17,17}}</string>
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>img_hongdian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,981},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{318,981},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>img_jiangquang.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,495},{147,165}}</string>
				<key>offset</key>
				<string>{35,31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{691,495},{147,165}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_jipaiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1},{162,187}}</string>
				<key>offset</key>
				<string>{40,20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{702,1},{162,187}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_match_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,897},{46,46}}</string>
				<key>offset</key>
				<string>{17,17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1221,897},{46,46}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img_missile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,1},{158,209}}</string>
				<key>offset</key>
				<string>{31,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1189,1},{158,209}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,449},{40,40}}</string>
				<key>offset</key>
				<string>{9,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1281,449},{40,40}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>img_tanchuang_guize_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,885},{116,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1103,885},{116,61}}</string>
				<key>sourceSize</key>
				<string>{116,61}</string>
			</dict>
			<key>img_tanchuang_shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,948},{112,62}}</string>
				<key>offset</key>
				<string>{4,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1220,948},{112,62}}</string>
				<key>sourceSize</key>
				<string>{121,69}</string>
			</dict>
			<key>img_ticket_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,456},{164,173}}</string>
				<key>offset</key>
				<string>{30,33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{525,456},{164,173}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_ticket_egg.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,306},{163,187}}</string>
				<key>offset</key>
				<string>{28,17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{691,306},{163,187}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_ticket_egg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,277},{171,177}}</string>
				<key>offset</key>
				<string>{30,22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,277},{171,177}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_ticket_welfare.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,121},{164,183}}</string>
				<key>offset</key>
				<string>{28,20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{528,121},{164,183}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_ticket_welfare2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,1},{167,172}}</string>
				<key>offset</key>
				<string>{32,24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{180,1},{167,172}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,641},{20,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1266,641},{20,16}}</string>
				<key>sourceSize</key>
				<string>{20,16}</string>
			</dict>
			<key>jdk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,541},{144,171}}</string>
				<key>offset</key>
				<string>{38,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{840,541},{144,171}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>jdk_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,191},{148,173}}</string>
				<key>offset</key>
				<string>{35,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{856,191},{148,173}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>jdk_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,837},{144,171}}</string>
				<key>offset</key>
				<string>{38,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{837,837},{144,171}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>jdk_200.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,340},{147,173}}</string>
				<key>offset</key>
				<string>{36,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1006,340},{147,173}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>jdk_300.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,662},{147,173}}</string>
				<key>offset</key>
				<string>{36,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{691,662},{147,173}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>jdk_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,837},{144,171}}</string>
				<key>offset</key>
				<string>{38,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{691,837},{144,171}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>jdk_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,366},{147,173}}</string>
				<key>offset</key>
				<string>{36,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{856,366},{147,173}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>match_hb_dk.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,456},{137,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{352,456},{137,44}}</string>
				<key>sourceSize</key>
				<string>{137,44}</string>
			</dict>
			<key>ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,881},{49,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{638,881},{49,44}}</string>
				<key>sourceSize</key>
				<string>{49,44}</string>
			</dict>
			<key>panel_fuxuankuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,911},{35,35}}</string>
				<key>offset</key>
				<string>{12,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1366,911},{35,35}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>panel_jiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,526},{172,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{351,526},{172,172}}</string>
				<key>sourceSize</key>
				<string>{172,172}</string>
			</dict>
			<key>panel_right_content.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,820},{72,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,820},{72,60}}</string>
				<key>sourceSize</key>
				<string>{72,60}</string>
			</dict>
			<key>phoneFee_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,737},{173,136}}</string>
				<key>offset</key>
				<string>{24,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{176,737},{173,136}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>phoneFee_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,599},{173,136}}</string>
				<key>offset</key>
				<string>{24,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,599},{173,136}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>phoneFee_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,139},{173,136}}</string>
				<key>offset</key>
				<string>{24,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,139},{173,136}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>phoneFee_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,388},{173,136}}</string>
				<key>offset</key>
				<string>{24,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,388},{173,136}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>phoneFee_200.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,599},{173,136}}</string>
				<key>offset</key>
				<string>{24,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{176,599},{173,136}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>phoneFee_300.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,875},{173,136}}</string>
				<key>offset</key>
				<string>{24,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,875},{173,136}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>phoneFee_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1},{173,136}}</string>
				<key>offset</key>
				<string>{24,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{352,1},{173,136}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>phoneFee_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,737},{173,136}}</string>
				<key>offset</key>
				<string>{24,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,737},{173,136}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>title_ji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,379},{124,120}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1155,379},{124,120}}</string>
				<key>sourceSize</key>
				<string>{129,126}</string>
			</dict>
			<key>wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,570},{97,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,570},{97,27}}</string>
				<key>sourceSize</key>
				<string>{97,27}</string>
			</dict>
			<key>小提示.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,340},{25,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1155,340},{25,30}}</string>
				<key>sourceSize</key>
				<string>{25,30}</string>
			</dict>
			<key>常态.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,190},{173,172}}</string>
				<key>offset</key>
				<string>{24,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{178,190},{173,172}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>_Common_atlas0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>_Common_atlas0.png</string>
		</dict>
	</dict>
</plist>
