<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_create_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{152,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{152,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>btn_create_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{219,102}}</string>
                <key>sourceSize</key>
                <string>{225,104}</string>
            </dict>
            <key>btn_haoyou_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{219,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,88}}</string>
                <key>sourceSize</key>
                <string>{219,88}</string>
            </dict>
            <key>btn_haoyou_jiaru_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{219,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,88}}</string>
                <key>sourceSize</key>
                <string>{219,88}</string>
            </dict>
            <key>btn_normal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,440},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btn_normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>img_yeqian_chuanjian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,325},{138,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
            <key>img_yeqian_jiaru1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,286},{138,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createRoom.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e3621cede93e37e9efffc6d48af1ca$</string>
            <key>textureFileName</key>
            <string>createRoom.png</string>
        </dict>
    </dict>
</plist>
