<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_xuan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,120},{174,37}}</string>
                <key>offset</key>
                <string>{34,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,102},{174,37}}</string>
                <key>sourceSize</key>
                <string>{260,149}</string>
            </dict>
            <key>Img_zhuobu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,159},{260,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,149}}</string>
                <key>sourceSize</key>
                <string>{260,149}</string>
            </dict>
            <key>Img_zhuobu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{260,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,149}}</string>
                <key>sourceSize</key>
                <string>{260,149}</string>
            </dict>
            <key>Img_zhuobu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,149}}</string>
                <key>sourceSize</key>
                <string>{260,149}</string>
            </dict>
            <key>com_leftbtn_fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{181,2}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,107},{181,2}}</string>
                <key>sourceSize</key>
                <string>{235,116}</string>
            </dict>
            <key>com_leftbtn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{235,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,116}}</string>
                <key>sourceSize</key>
                <string>{235,116}</string>
            </dict>
            <key>icon_lp.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,159},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>icon_ph.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,213},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_sy.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,189},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>icon_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,185},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>set_bg_9g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>set_btn_y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,234},{36,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>set_btn_y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,196},{36,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>set_btn_y3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,158},{36,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>set_btn_ynew1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,120},{36,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>set_icon_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,242},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{34,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameSet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f533cae0b5036d8c7721801993d76679$</string>
            <key>textureFileName</key>
            <string>gameSet.png</string>
        </dict>
    </dict>
</plist>
