<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1220},{98,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,108}}</string>
                <key>sourceSize</key>
                <string>{98,108}</string>
            </dict>
            <key>bt_off_zjh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{170,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,68}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
            <key>bt_off_zjh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{170,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,68}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
            <key>bt_on_zjh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1018},{168,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,68}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>bt_on_zjh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,971},{168,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,68}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>btn_ready_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1154},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>btn_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1288},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,64}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>cmd_bt_ready3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1088},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_changedesk.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1088},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_changedesk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1286},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,64}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_changedesk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1117},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_huan.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1088},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_huan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1222},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,64}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_huan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1086},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1018},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_jin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1156},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,64}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_jin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1041},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,851},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_out1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1109},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,64}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_out2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,446},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,378},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_pass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1047},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,64}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_pass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,310},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,242},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_warn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1047},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,64}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_bt_warn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,174},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>game_cellScoreIMG.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1299},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>game_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,824},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>game_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,451},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>game_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1018},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game_nooutcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>game_robot-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,696},{336,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,320}}</string>
                <key>sourceSize</key>
                <string>{336,320}</string>
            </dict>
            <key>game_tips_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,851},{204,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,34}}</string>
                <key>sourceSize</key>
                <string>{204,34}</string>
            </dict>
            <key>game_tips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{218,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,36}}</string>
                <key>sourceSize</key>
                <string>{218,36}</string>
            </dict>
            <key>game_tips_callscore0.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1073},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>gameend_again0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,967},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>gameend_again1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>gameend_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{863,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{863,447}}</string>
                <key>sourceSize</key>
                <string>{863,447}</string>
            </dict>
            <key>gameend_quit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,887},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>gameend_quit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,881},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>land_bt_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,605},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>land_bt_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,514},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>land_headframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{130,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,170}}</string>
                <key>sourceSize</key>
                <string>{130,170}</string>
            </dict>
            <key>scene_game_rank_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,696},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>scene_game_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1395},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>scene_game_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1345},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>scene_game_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1249},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{590,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,398}}</string>
                <key>sourceSize</key>
                <string>{590,398}</string>
            </dict>
            <key>sign_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,568},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>sign_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,514},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>sp_setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,451},{174,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,52}}</string>
                <key>sourceSize</key>
                <string>{174,52}</string>
            </dict>
            <key>sp_setting_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,919},{174,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,50}}</string>
                <key>sourceSize</key>
                <string>{174,50}</string>
            </dict>
            <key>speech_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1220},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>speech_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1109},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>txt_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1109},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5b1c6753cb8870d6fd876d138df175e$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
