<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_dismiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,642},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,38}</string>
            </dict>
            <key>bt_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1083},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>bt_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,844},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>bt_qiut.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,209},{192,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,78}}</string>
                <key>sourceSize</key>
                <string>{192,78}</string>
            </dict>
            <key>bt_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,129},{192,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,78}}</string>
                <key>sourceSize</key>
                <string>{192,78}</string>
            </dict>
            <key>btn_exit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,149},{189,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,69}}</string>
                <key>sourceSize</key>
                <string>{189,69}</string>
            </dict>
            <key>btn_share1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,739},{342,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{342,96}}</string>
                <key>sourceSize</key>
                <string>{350,124}</string>
            </dict>
            <key>fanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,66},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>im_end_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>im_invite_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,289},{448,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{448,131}}</string>
                <key>sourceSize</key>
                <string>{450,131}</string>
            </dict>
            <key>im_pr_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{243,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,125}}</string>
                <key>sourceSize</key>
                <string>{243,125}</string>
            </dict>
            <key>im_room_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>im_score_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,289},{553,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,57}}</string>
                <key>sourceSize</key>
                <string>{553,57}</string>
            </dict>
            <key>pri_land_zanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,548},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,38}</string>
            </dict>
            <key>tdk_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,340},{62,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,116}}</string>
                <key>sourceSize</key>
                <string>{62,116}</string>
            </dict>
            <key>txt_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,104},{43,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,19}}</string>
                <key>sourceSize</key>
                <string>{43,19}</string>
            </dict>
            <key>txt_count_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,129},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>txt_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,503},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>txt_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,28},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>txt_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,458},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>land_game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a526c84a340cb53bf89a7deef260110$</string>
            <key>textureFileName</key>
            <string>land_game.png</string>
        </dict>
    </dict>
</plist>
