# 忽略 node_modules 目录
node_modules/

# 忽略所有 .log 文件
*.log

# 忽略 build 输出目录
build/
dist/
library/
native/engine/
native/engine/ios
protos/
server/
settings/
tools/
temp/
build-templates/
key/
extensions/
local/
*.apk
*.rar
*.zip
*.exe
# native/

# 忽略 .env 文件（环境变量）
.env
.DS_Store

# 忽略临时文件
*.tmp
*.swp
*.gradle
*.dm
# *.gradle

# 忽略 VS Code 配置
.vscode/
