# 忽略 node_modules 目录
node_modules/

# 忽略所有 .log 文件
*.log

# 忽略 build 输出目录
build/
dist/
library/
# 忽略整个 native/engine/android，但保留 com/cocos/game 目录
# 忽略整个 android 目录
native/engine/android/*
native/engine/ios/*
# native/engine/android/app/*

# 但保留 app/src/com/cocos/game
# !native/engine/android/app/
# !native/engine/android/app/src/
# !native/engine/android/app/src/com/
# !native/engine/android/app/src/com/cocos/
# !native/engine/android/app/src/com/cocos/game/
temp/
*.apk
*.rar
*.zip
*.exe
# native/

# 忽略 .env 文件（环境变量）
.env

# 忽略临时文件
*.tmp
*.swp
# *.gradle
*.dm
*.gradle

# 忽略 VS Code 配置
.vscode/
