<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{202,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,56}}</string>
                <key>sourceSize</key>
                <string>{202,56}</string>
            </dict>
            <key>on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,56}}</string>
                <key>sourceSize</key>
                <string>{202,56}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>set.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33acf75dddaf05009713ebb20eb5cd8e$</string>
            <key>textureFileName</key>
            <string>set.png</string>
        </dict>
    </dict>
</plist>
