<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_haoyou_jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,0},{219,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{636,0},{219,88}}</string>
				<key>sourceSize</key>
				<string>{219,88}</string>
			</dict>
			<key>btn_haoyou_jiaru_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,195},{219,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{602,195},{219,88}}</string>
				<key>sourceSize</key>
				<string>{219,88}</string>
			</dict>
			<key>fnt_jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,195},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_jiaru_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,195},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_jiaru_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,297},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,297},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_jiaru_anniu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,297},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,297},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>img_jiaru_qingkong_liang.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,90},{93,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{636,90},{93,46}}</string>
				<key>sourceSize</key>
				<string>{93,46}</string>
			</dict>
			<key>img_jiaru_shanchu_liang.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,138},{91,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{636,138},{91,46}}</string>
				<key>sourceSize</key>
				<string>{91,46}</string>
			</dict>
			<key>panel_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{634,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{634,193}}</string>
				<key>sourceSize</key>
				<string>{634,193}</string>
			</dict>
			<key>panel_xc_xiala_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,0},{95,552}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{857,0},{95,552}}</string>
				<key>sourceSize</key>
				<string>{95,552}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>FriendTeamJoinUI_atlas0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>FriendTeamJoinUI_atlas0.png</string>
		</dict>
	</dict>
</plist>
