<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,173},{331,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1542,173},{331,400}}</string>
				<key>sourceSize</key>
				<string>{331,400}</string>
			</dict>
			<key>btnRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,320},{207,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1244,320},{207,50}}</string>
				<key>sourceSize</key>
				<string>{207,50}</string>
			</dict>
			<key>btn_directInvite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,472},{78,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1271,472},{78,202}}</string>
				<key>sourceSize</key>
				<string>{78,202}</string>
			</dict>
			<key>btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,704},{49,63}}</string>
				<key>offset</key>
				<string>{6,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1977,704},{49,63}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_feedback.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,179},{79,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1452,179},{79,75}}</string>
				<key>sourceSize</key>
				<string>{79,75}</string>
			</dict>
			<key>btn_genhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,404},{140,44}}</string>
				<key>offset</key>
				<string>{12,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1875,404},{140,44}}</string>
				<key>sourceSize</key>
				<string>{164,52}</string>
			</dict>
			<key>btn_guide.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,207},{163,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,207},{163,49}}</string>
				<key>sourceSize</key>
				<string>{163,49}</string>
			</dict>
			<key>btn_huanyipi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,433},{195,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1165,433},{195,37}}</string>
				<key>sourceSize</key>
				<string>{195,37}</string>
			</dict>
			<key>btn_quickstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,173},{145,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1875,173},{145,141}}</string>
				<key>sourceSize</key>
				<string>{145,141}</string>
			</dict>
			<key>btn_quickstart_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,256},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1452,256},{57,57}}</string>
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,646},{48,49}}</string>
				<key>offset</key>
				<string>{13,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,646},{48,49}}</string>
				<key>sourceSize</key>
				<string>{73,70}</string>
			</dict>
			<key>btn_shout.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,308},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,308},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>btn_shout_act.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,363},{242,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{720,363},{242,62}}</string>
				<key>sourceSize</key>
				<string>{242,62}</string>
			</dict>
			<key>btn_shout_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,628},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1875,628},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>btn_shout_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,376},{199,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,376},{199,62}}</string>
				<key>sourceSize</key>
				<string>{199,62}</string>
			</dict>
			<key>btn_tiren.png</key>
			<dict>
				<key>frame</key>
				<string>{{1936,97},{57,57}}</string>
				<key>offset</key>
				<string>{11,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1936,97},{57,57}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>btn_tui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,1},{57,57}}</string>
				<key>offset</key>
				<string>{11,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1981,1},{57,57}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>btn_xc_zhankai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,440},{40,28}}</string>
				<key>offset</key>
				<string>{10,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1097,440},{40,28}}</string>
				<key>sourceSize</key>
				<string>{60,50}</string>
			</dict>
			<key>btn_yaoqing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,433},{172,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1362,433},{172,172}}</string>
				<key>sourceSize</key>
				<string>{172,172}</string>
			</dict>
			<key>dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,628},{13,13}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1977,628},{13,13}}</string>
				<key>sourceSize</key>
				<string>{13,47}</string>
			</dict>
			<key>flag_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{1993,530},{51,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1993,530},{51,120}}</string>
				<key>sourceSize</key>
				<string>{51,120}</string>
			</dict>
			<key>flag_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,530},{116,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1875,530},{116,96}}</string>
				<key>sourceSize</key>
				<string>{116,96}</string>
			</dict>
			<key>fnt_cx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,62},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,62},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_cx_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,62},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,62},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>img_baseScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,404},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2017,404},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1334,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1334,59}}</string>
				<key>sourceSize</key>
				<string>{1334,59}</string>
			</dict>
			<key>img_bottom_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,164},{449,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,164},{449,41}}</string>
				<key>sourceSize</key>
				<string>{449,41}</string>
			</dict>
			<key>img_duizhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,646},{45,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1123,646},{45,82}}</string>
				<key>sourceSize</key>
				<string>{45,82}</string>
			</dict>
			<key>img_earphone.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,419},{194,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,419},{194,54}}</string>
				<key>sourceSize</key>
				<string>{194,55}</string>
			</dict>
			<key>img_earphone_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,315},{50,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1453,315},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>img_earphone_circle_unable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,60},{50,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1995,60},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>img_earphone_unable.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,419},{194,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,419},{194,54}}</string>
				<key>sourceSize</key>
				<string>{194,55}</string>
			</dict>
			<key>img_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,440},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1139,440},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>img_leader_partner.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,450},{43,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2003,450},{43,76}}</string>
				<key>sourceSize</key>
				<string>{43,76}</string>
			</dict>
			<key>img_leader_self.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,376},{74,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1165,376},{74,42}}</string>
				<key>sourceSize</key>
				<string>{74,42}</string>
			</dict>
			<key>img_left_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,450},{126,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1875,450},{126,78}}</string>
				<key>sourceSize</key>
				<string>{126,78}</string>
			</dict>
			<key>img_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,278},{269,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{720,278},{269,83}}</string>
				<key>sourceSize</key>
				<string>{269,83}</string>
			</dict>
			<key>img_microphone.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,440},{194,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{901,440},{194,54}}</string>
				<key>sourceSize</key>
				<string>{194,55}</string>
			</dict>
			<key>img_microphone_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,652},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1977,652},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>img_microphone_circle_unable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,112},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1995,112},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>img_microphone_unable.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,467},{194,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,467},{194,54}}</string>
				<key>sourceSize</key>
				<string>{194,55}</string>
			</dict>
			<key>img_offline.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,401},{72,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1452,401},{72,27}}</string>
				<key>sourceSize</key>
				<string>{72,27}</string>
			</dict>
			<key>img_offline_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,697},{39,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,697},{39,76}}</string>
				<key>sourceSize</key>
				<string>{39,76}</string>
			</dict>
			<key>img_offline_act.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,372},{72,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1452,372},{72,27}}</string>
				<key>sourceSize</key>
				<string>{72,27}</string>
			</dict>
			<key>img_personCount.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,278},{16,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1117,278},{16,19}}</string>
				<key>sourceSize</key>
				<string>{16,19}</string>
			</dict>
			<key>img_quickstart_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1},{642,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1337,1},{642,94}}</string>
				<key>sourceSize</key>
				<string>{642,94}</string>
			</dict>
			<key>img_quickstart_hint_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,320},{251,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{991,320},{251,54}}</string>
				<key>sourceSize</key>
				<string>{251,54}</string>
			</dict>
			<key>img_quickstart_hint_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,62},{535,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{603,62},{535,214}}</string>
				<key>sourceSize</key>
				<string>{535,214}</string>
			</dict>
			<key>img_shout.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,278},{124,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{991,278},{124,24}}</string>
				<key>sourceSize</key>
				<string>{124,24}</string>
			</dict>
			<key>img_touxiangkuan_moren.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,472},{172,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1097,472},{172,172}}</string>
				<key>sourceSize</key>
				<string>{172,172}</string>
			</dict>
			<key>img_tuijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,97},{400,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1140,97},{400,80}}</string>
				<key>sourceSize</key>
				<string>{400,80}</string>
			</dict>
			<key>img_wait_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,207},{414,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,207},{414,47}}</string>
				<key>sourceSize</key>
				<string>{414,47}</string>
			</dict>
			<key>img_weizhunbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,316},{142,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1875,316},{142,42}}</string>
				<key>sourceSize</key>
				<string>{142,42}</string>
			</dict>
			<key>img_yizhunbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,360},{142,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1875,360},{142,42}}</string>
				<key>sourceSize</key>
				<string>{142,42}</string>
			</dict>
			<key>panel_duiwuma.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,427},{194,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,427},{194,38}}</string>
				<key>sourceSize</key>
				<string>{194,38}</string>
			</dict>
			<key>panel_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,496},{170,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{901,496},{170,267}}</string>
				<key>sourceSize</key>
				<string>{170,267}</string>
			</dict>
			<key>panel_xc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,256},{405,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,256},{405,50}}</string>
				<key>sourceSize</key>
				<string>{405,50}</string>
			</dict>
			<key>panel_xc_xiala.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,97},{392,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1542,97},{392,74}}</string>
				<key>sourceSize</key>
				<string>{392,74}</string>
			</dict>
			<key>plaza_free_classic.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,278},{310,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{408,278},{310,139}}</string>
				<key>sourceSize</key>
				<string>{310,139}</string>
			</dict>
			<key>plaza_gold_classic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,308},{310,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,308},{310,139}}</string>
				<key>sourceSize</key>
				<string>{310,139}</string>
			</dict>
			<key>plaza_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,179},{310,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1140,179},{310,139}}</string>
				<key>sourceSize</key>
				<string>{310,139}</string>
			</dict>
			<key>txt_liebiao_weishouquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,372},{206,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1244,372},{206,59}}</string>
				<key>sourceSize</key>
				<string>{206,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>FriendTeamUI_atlas0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>FriendTeamUI_atlas0.png</string>
		</dict>
	</dict>
</plist>
