<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,831},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{832,831},{47,48}}</string>
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>2_pai.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,942},{47,46}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{881,942},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>3_zhun.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,881},{47,46}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{832,881},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>4_bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,830},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{940,830},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>5_zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,879},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{930,879},{46,48}}</string>
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>HeadFrame_Sit.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,671},{104,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{335,671},{104,105}}</string>
				<key>sourceSize</key>
				<string>{104,105}</string>
			</dict>
			<key>bt_bzxs.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,778},{97,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{325,778},{97,24}}</string>
				<key>sourceSize</key>
				<string>{97,24}</string>
			</dict>
			<key>btnDelay_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,539},{61,65}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{853,539},{61,65}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,309},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{980,309},{41,41}}</string>
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>btn_change_seat.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,808},{109,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,808},{109,54}}</string>
				<key>sourceSize</key>
				<string>{109,54}</string>
			</dict>
			<key>btn_liaotian.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,358},{135,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,358},{135,51}}</string>
				<key>sourceSize</key>
				<string>{135,51}</string>
			</dict>
			<key>btn_lipai_huifu.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,305},{135,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{497,305},{135,51}}</string>
				<key>sourceSize</key>
				<string>{135,51}</string>
			</dict>
			<key>btn_lipai_normall.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,305},{135,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{634,305},{135,51}}</string>
				<key>sourceSize</key>
				<string>{135,51}</string>
			</dict>
			<key>btn_yjlp.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,358},{135,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{634,358},{135,51}}</string>
				<key>sourceSize</key>
				<string>{135,51}</string>
			</dict>
			<key>btn_youshang_caidang.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,784},{54,62}}</string>
				<key>offset</key>
				<string>{4,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{726,784},{54,62}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_youshang_guize.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,914},{53,66}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{726,914},{53,66}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_youshang_huanzhuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,527},{63,63}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{788,527},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_youshang_huanzhuo_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,692},{57,59}}</string>
				<key>offset</key>
				<string>{3,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{783,692},{57,59}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_youshang_jiesan.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,632},{60,62}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{908,632},{60,62}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_youshang_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,848},{53,64}}</string>
				<key>offset</key>
				<string>{4,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{726,848},{53,64}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_youshang_tuichu.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,766},{49,63}}</string>
				<key>offset</key>
				<string>{6,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{840,766},{49,63}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_youshang_tuoguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,472},{61,65}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{853,472},{61,65}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>btn_zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,753},{55,65}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{783,753},{55,65}}</string>
				<key>sourceSize</key>
				<string>{63,71}</string>
			</dict>
			<key>bubble_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,143},{149,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{833,143},{149,66}}</string>
				<key>sourceSize</key>
				<string>{149,66}</string>
			</dict>
			<key>chat_left_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,856},{87,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{616,856},{87,45}}</string>
				<key>sourceSize</key>
				<string>{87,45}</string>
			</dict>
			<key>dai.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,965},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{781,965},{48,46}}</string>
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>deng.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,965},{47,45}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{831,965},{47,45}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,527},{13,13}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{755,527},{13,13}}</string>
				<key>sourceSize</key>
				<string>{13,47}</string>
			</dict>
			<key>dui.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,671},{46,45}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,671},{46,45}}</string>
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>fnt-js.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,477},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{625,477},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>fnt-js_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,477},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{625,477},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>fnt-rk.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,411},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{625,411},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>fnt-rk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,411},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{625,411},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>fnt_jinbi_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,459},{220,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,459},{220,200}}</string>
				<key>sourceSize</key>
				<string>{220,200}</string>
			</dict>
			<key>fnt_jinbi_win_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,459},{220,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,459},{220,200}}</string>
				<key>sourceSize</key>
				<string>{220,200}</string>
			</dict>
			<key>fnt_jipai_other.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,572},{114,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,572},{114,97}}</string>
				<key>sourceSize</key>
				<string>{114,97}</string>
			</dict>
			<key>fnt_jipai_other_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,572},{114,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,572},{114,97}}</string>
				<key>sourceSize</key>
				<string>{114,97}</string>
			</dict>
			<key>fnt_jipai_own.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,572},{114,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,572},{114,97}}</string>
				<key>sourceSize</key>
				<string>{114,97}</string>
			</dict>
			<key>fnt_jipai_own_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,572},{114,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,572},{114,97}}</string>
				<key>sourceSize</key>
				<string>{114,97}</string>
			</dict>
			<key>fnt_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,251},{145,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{833,251},{145,136}}</string>
				<key>sourceSize</key>
				<string>{145,136}</string>
			</dict>
			<key>fnt_num_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,251},{145,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{833,251},{145,136}}</string>
				<key>sourceSize</key>
				<string>{145,136}</string>
			</dict>
			<key>fnt_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,492},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,492},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>fnt_time_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,492},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,492},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>fnt_tp_mingci.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,61},{283,26}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,61},{283,26}}</string>
				<key>sourceSize</key>
				<string>{285,28}</string>
			</dict>
			<key>fnt_tp_mingci_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,61},{283,26}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,61},{283,26}}</string>
				<key>sourceSize</key>
				<string>{285,28}</string>
			</dict>
			<key>game_js_qftextdk.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,211},{148,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{833,211},{148,38}}</string>
				<key>sourceSize</key>
				<string>{148,38}</string>
			</dict>
			<key>game_mcnb.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,558},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,558},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>game_mcnb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,558},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,558},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>game_xx_ysnb.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,864},{101,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,864},{101,125}}</string>
				<key>sourceSize</key>
				<string>{101,125}</string>
			</dict>
			<key>game_xx_ysnb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,864},{101,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,864},{101,125}}</string>
				<key>sourceSize</key>
				<string>{101,125}</string>
			</dict>
			<key>hint_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,808},{94,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{454,808},{94,47}}</string>
				<key>sourceSize</key>
				<string>{94,47}</string>
			</dict>
			<key>hint_notMult.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,0},{139,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,0},{139,47}}</string>
				<key>sourceSize</key>
				<string>{139,47}</string>
			</dict>
			<key>hint_wait_play_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,295},{231,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{264,295},{231,48}}</string>
				<key>sourceSize</key>
				<string>{231,48}</string>
			</dict>
			<key>icon_cfjc_zjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,543},{83,73}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{619,543},{83,73}}</string>
				<key>sourceSize</key>
				<string>{90,80}</string>
			</dict>
			<key>img_baojing_shengyupai.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,251},{42,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{980,251},{42,56}}</string>
				<key>sourceSize</key>
				<string>{42,56}</string>
			</dict>
			<key>img_battery_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,416},{14,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,416},{14,9}}</string>
				<key>sourceSize</key>
				<string>{14,9}</string>
			</dict>
			<key>img_bg_battery.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1007},{22,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{600,1007},{22,15}}</string>
				<key>sourceSize</key>
				<string>{22,15}</string>
			</dict>
			<key>img_brokePack.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,703},{101,92}}</string>
				<key>offset</key>
				<string>{2,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,703},{101,92}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>img_ceil.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,493},{65,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{755,493},{65,32}}</string>
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>
			<key>img_change_seat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,355},{223,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,355},{223,70}}</string>
				<key>sourceSize</key>
				<string>{223,70}</string>
			</dict>
			<key>img_ding_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,903},{64,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{644,903},{64,102}}</string>
				<key>sourceSize</key>
				<string>{64,102}</string>
			</dict>
			<key>img_earphone_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,670},{50,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{970,670},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>img_earphone_circle_unable.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,696},{50,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{908,696},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>img_fangzhu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,500},{39,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,500},{39,44}}</string>
				<key>sourceSize</key>
				<string>{39,44}</string>
			</dict>
			<key>img_fankuai_bright.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,143},{38,39}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{984,143},{38,39}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>img_fankuai_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,352},{34,35}}</string>
				<key>offset</key>
				<string>{6,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{980,352},{34,35}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>img_fuhuolibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,705},{77,77}}</string>
				<key>offset</key>
				<string>{12,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{704,705},{77,77}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img_heitao_bright.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,982},{41,39}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{710,982},{41,39}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>img_heitao_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,925},{35,34}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{182,925},{35,34}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>img_hongxin_bright.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,389},{43,38}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,389},{43,38}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>img_hongxin_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,929},{37,34}}</string>
				<key>offset</key>
				<string>{4,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{832,929},{37,34}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>img_jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,774},{49,54}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{960,774},{49,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>img_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1017},{120,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1017},{120,4}}</string>
				<key>sourceSize</key>
				<string>{120,4}</string>
			</dict>
			<key>img_meihua_bright.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,459},{40,39}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,459},{40,39}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>img_meihua_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,961},{35,34}}</string>
				<key>offset</key>
				<string>{5,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{182,961},{35,34}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>img_mianshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,705},{87,81}}</string>
				<key>offset</key>
				<string>{3,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{615,705},{87,81}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img_microphone_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,722},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{960,722},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>img_microphone_circle_unable.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,748},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{908,748},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>img_mingci_mo.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,774},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,774},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>img_mingci_tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,990},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{880,990},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>img_timebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,999},{88,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{182,999},{88,22}}</string>
				<key>sourceSize</key>
				<string>{88,22}</string>
			</dict>
			<key>img_touxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,661},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,661},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>img_trust_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{301,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,148}}</string>
				<key>sourceSize</key>
				<string>{301,148}</string>
			</dict>
			<key>img_xiaojiesuan_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,0},{288,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{593,0},{288,59}}</string>
				<key>sourceSize</key>
				<string>{288,59}</string>
			</dict>
			<key>img_xiaojiesuan_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,0},{288,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,0},{288,59}}</string>
				<key>sourceSize</key>
				<string>{288,59}</string>
			</dict>
			<key>img_xiaotishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,864},{20,16}}</string>
				<key>offset</key>
				<string>{3,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{334,864},{20,16}}</string>
				<key>sourceSize</key>
				<string>{28,30}</string>
			</dict>
			<key>jfs_game_dk.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,61},{280,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{588,61},{280,36}}</string>
				<key>sourceSize</key>
				<string>{280,36}</string>
			</dict>
			<key>jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,940},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{978,940},{44,47}}</string>
				<key>sourceSize</key>
				<string>{44,47}</string>
			</dict>
			<key>mc_dk.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,389},{144,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{833,389},{144,81}}</string>
				<key>sourceSize</key>
				<string>{144,81}</string>
			</dict>
			<key>mc_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,49},{139,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,49},{139,2}}</string>
				<key>sourceSize</key>
				<string>{139,2}</string>
			</dict>
			<key>multTask_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,788},{80,66}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{644,788},{80,66}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>mult_1_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,202},{256,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{575,202},{256,101}}</string>
				<key>sourceSize</key>
				<string>{256,101}</string>
			</dict>
			<key>mult_1_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,99},{256,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{575,99},{256,101}}</string>
				<key>sourceSize</key>
				<string>{256,101}</string>
			</dict>
			<key>mult_3_head0.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,89},{270,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,89},{270,204}}</string>
				<key>sourceSize</key>
				<string>{270,204}</string>
			</dict>
			<key>mult_3_head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{262,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,150},{262,203}}</string>
				<key>sourceSize</key>
				<string>{262,203}</string>
			</dict>
			<key>panel_di(1).png</key>
			<dict>
				<key>frame</key>
				<string>{{225,355},{34,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,355},{34,59}}</string>
				<key>sourceSize</key>
				<string>{34,59}</string>
			</dict>
			<key>panel_ding.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,883},{217,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,883},{217,40}}</string>
				<key>sourceSize</key>
				<string>{217,40}</string>
			</dict>
			<key>panel_ding_beishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,728},{122,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,728},{122,78}}</string>
				<key>sourceSize</key>
				<string>{122,78}</string>
			</dict>
			<key>panel_ding_duifang_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,472},{60,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{916,472},{60,78}}</string>
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>panel_ding_duifang_uncheck.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,686},{60,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{846,686},{60,78}}</string>
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>panel_ding_jifang_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,552},{60,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{916,552},{60,78}}</string>
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>panel_ding_jifang_uncheck.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,305},{60,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{771,305},{60,78}}</string>
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>panel_ding_jipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,606},{60,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{846,606},{60,78}}</string>
				<key>sourceSize</key>
				<string>{60,78}</string>
			</dict>
			<key>panel_jipaiqi_jipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,572},{28,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{459,572},{28,59}}</string>
				<key>sourceSize</key>
				<string>{28,59}</string>
			</dict>
			<key>panel_qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,906},{92,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{550,906},{92,49}}</string>
				<key>sourceSize</key>
				<string>{92,49}</string>
			</dict>
			<key>panel_qipao_1 .png</key>
			<dict>
				<key>frame</key>
				<string>{{970,632},{51,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{970,632},{51,36}}</string>
				<key>sourceSize</key>
				<string>{51,36}</string>
			</dict>
			<key>panel_tanchuang_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,615},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{706,615},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>panel_youshang_caidan.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,411},{74,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{755,411},{74,80}}</string>
				<key>sourceSize</key>
				<string>{74,80}</string>
			</dict>
			<key>panel_剩余牌数(1).png</key>
			<dict>
				<key>frame</key>
				<string>{{978,879},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{978,879},{44,59}}</string>
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>passA_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,624},{124,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,624},{124,102}}</string>
				<key>sourceSize</key>
				<string>{124,102}</string>
			</dict>
			<key>passA_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,925},{180,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,925},{180,90}}</string>
				<key>sourceSize</key>
				<string>{180,90}</string>
			</dict>
			<key>passtask_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,543},{82,70}}</string>
				<key>offset</key>
				<string>{4,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{704,543},{82,70}}</string>
				<key>sourceSize</key>
				<string>{90,80}</string>
			</dict>
			<key>playing_ani1.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,592},{9,12}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{788,592},{9,12}}</string>
				<key>sourceSize</key>
				<string>{22,30}</string>
			</dict>
			<key>playing_ani2.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,778},{15,20}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{424,778},{15,20}}</string>
				<key>sourceSize</key>
				<string>{22,30}</string>
			</dict>
			<key>playing_ani3.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,427},{22,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,427},{22,30}}</string>
				<key>sourceSize</key>
				<string>{22,30}</string>
			</dict>
			<key>qi.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,894},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{881,894},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>qp_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,53},{130,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,53},{130,42}}</string>
				<key>sourceSize</key>
				<string>{130,42}</string>
			</dict>
			<key>ta.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,868},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{782,868},{48,46}}</string>
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>tagOther_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,150},{29,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{264,150},{29,71}}</string>
				<key>sourceSize</key>
				<string>{29,71}</string>
			</dict>
			<key>tagOther_notMult.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,429},{29,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,429},{29,71}}</string>
				<key>sourceSize</key>
				<string>{29,71}</string>
			</dict>
			<key>tagSelf_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,991},{89,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,991},{89,29}}</string>
				<key>sourceSize</key>
				<string>{89,29}</string>
			</dict>
			<key>tagself_notMult.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,991},{89,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,991},{89,29}}</string>
				<key>sourceSize</key>
				<string>{89,29}</string>
			</dict>
			<key>tognhuas.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,957},{88,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{521,957},{88,32}}</string>
				<key>sourceSize</key>
				<string>{88,32}</string>
			</dict>
			<key>txt_bjdj.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{221,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,427},{221,30}}</string>
				<key>sourceSize</key>
				<string>{221,30}</string>
			</dict>
			<key>txt_buchu.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,808},{92,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{550,808},{92,46}}</string>
				<key>sourceSize</key>
				<string>{92,46}</string>
			</dict>
			<key>txt_duijiashoupai.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,99},{159,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{833,99},{159,42}}</string>
				<key>sourceSize</key>
				<string>{159,42}</string>
			</dict>
			<key>txt_shenji.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,808},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,808},{119,33}}</string>
				<key>sourceSize</key>
				<string>{119,33}</string>
			</dict>
			<key>txt_tpcg.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,843},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,843},{110,30}}</string>
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>txt_tpsb.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,671},{111,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,671},{111,30}}</string>
				<key>sourceSize</key>
				<string>{111,30}</string>
			</dict>
			<key>txt_zhunbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,857},{93,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{521,857},{93,47}}</string>
				<key>sourceSize</key>
				<string>{93,47}</string>
			</dict>
			<key>wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,848},{47,44}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{881,848},{47,44}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>xuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,820},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{782,820},{48,46}}</string>
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>yjlp_yd_gq.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,883},{197,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,883},{197,114}}</string>
				<key>sourceSize</key>
				<string>{197,114}</string>
			</dict>
			<key>yjlp_yd_jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,615},{68,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{776,615},{68,75}}</string>
				<key>sourceSize</key>
				<string>{68,75}</string>
			</dict>
			<key>ze.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,916},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{782,916},{48,47}}</string>
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>zhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,800},{47,46}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{891,800},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>头像黑底.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,472},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{831,472},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>小三角.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,295},{20,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{497,295},{20,7}}</string>
				<key>sourceSize</key>
				<string>{20,7}</string>
			</dict>
			<key>局数单独底.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,624},{89,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{615,624},{89,79}}</string>
				<key>sourceSize</key>
				<string>{89,79}</string>
			</dict>
			<key>局数底.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,411},{134,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,411},{134,79}}</string>
				<key>sourceSize</key>
				<string>{134,79}</string>
			</dict>
			<key>开心鸡.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,345},{223,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{264,345},{223,225}}</string>
				<key>sourceSize</key>
				<string>{223,225}</string>
			</dict>
			<key>记牌器.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,718},{46,54}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,718},{46,54}}</string>
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>GameSceneUI_atlas0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>GameSceneUI_atlas0.png</string>
		</dict>
	</dict>
</plist>
