<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,75},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1115,75},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,522},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1064,522},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,458},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1115,458},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_4_1(1).png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,522},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1115,522},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,331},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1109,331},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,267},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1109,267},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,522},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1217,522},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,650},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1125,650},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_6_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,586},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1172,586},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,586},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1070,586},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,522},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{962,522},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,458},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{962,458},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,586},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1019,586},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,522},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1013,522},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_8_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,458},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1013,458},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,458},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1166,458},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_9_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,458},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1064,458},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_jok1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,586},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1121,586},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>card_jok2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,522},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1166,522},{49,62}}</string>
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>icon_ty.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,768},{305,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{332,768},{305,142}}</string>
				<key>sourceSize</key>
				<string>{305,142}</string>
			</dict>
			<key>qipao_duiyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,648},{188,57}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{336,648},{188,57}}</string>
				<key>sourceSize</key>
				<string>{192,61}</string>
			</dict>
			<key>ty1.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{154,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{962,0},{154,73}}</string>
				<key>sourceSize</key>
				<string>{154,73}</string>
			</dict>
			<key>ty2.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,139},{151,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{962,139},{151,62}}</string>
				<key>sourceSize</key>
				<string>{151,62}</string>
			</dict>
			<key>ty3.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,75},{151,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{962,75},{151,62}}</string>
				<key>sourceSize</key>
				<string>{151,62}</string>
			</dict>
			<key>ty4.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,203},{151,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{962,203},{151,62}}</string>
				<key>sourceSize</key>
				<string>{151,62}</string>
			</dict>
			<key>xsyd2_btn_tcxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,707},{175,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{336,707},{175,51}}</string>
				<key>sourceSize</key>
				<string>{175,51}</string>
			</dict>
			<key>xsyd2_bz19_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{960,646}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{960,646}}</string>
				<key>sourceSize</key>
				<string>{960,646}</string>
			</dict>
			<key>xsyd2_card_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,951},{94,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,951},{94,70}}</string>
				<key>sourceSize</key>
				<string>{94,70}</string>
			</dict>
			<key>xsyd2_fgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,938},{313,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,938},{313,11}}</string>
				<key>sourceSize</key>
				<string>{313,11}</string>
			</dict>
			<key>xsyd2_icon_gx.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,942},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{600,942},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>xsyd2_icon_jp.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,267},{145,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{962,267},{145,189}}</string>
				<key>sourceSize</key>
				<string>{145,189}</string>
			</dict>
			<key>xsyd2_icon_jz.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,912},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{600,912},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>xsyd2_jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,586},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{962,586},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>xsyd2_jb_duiz.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,912},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{528,912},{70,30}}</string>
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>xsyd2_jb_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,712},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,712},{70,30}}</string>
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>xsyd2_jb_zd.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,944},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{528,944},{70,30}}</string>
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>xsyd2_jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,650},{47,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1019,650},{47,25}}</string>
				<key>sourceSize</key>
				<string>{47,25}</string>
			</dict>
			<key>xsyd2_px_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,648},{334,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,648},{334,118}}</string>
				<key>sourceSize</key>
				<string>{334,118}</string>
			</dict>
			<key>xsyd2_px_db2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{330,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,768},{330,168}}</string>
				<key>sourceSize</key>
				<string>{330,168}</string>
			</dict>
			<key>xsyd2_text_cpph.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,712},{117,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{513,712},{117,29}}</string>
				<key>sourceSize</key>
				<string>{117,29}</string>
			</dict>
			<key>xsyd2_text_gb.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,712},{60,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{941,712},{60,29}}</string>
				<key>sourceSize</key>
				<string>{60,29}</string>
			</dict>
			<key>xsyd2_text_jbgz.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,712},{117,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,712},{117,28}}</string>
				<key>sourceSize</key>
				<string>{117,28}</string>
			</dict>
			<key>xsyd2_text_jfsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,712},{116,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,712},{116,29}}</string>
				<key>sourceSize</key>
				<string>{116,29}</string>
			</dict>
			<key>xsyd2_text_pzdx.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,977},{120,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,977},{120,29}}</string>
				<key>sourceSize</key>
				<string>{120,29}</string>
			</dict>
			<key>xsyd2_text_sanz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,712},{59,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1003,712},{59,28}}</string>
				<key>sourceSize</key>
				<string>{59,28}</string>
			</dict>
			<key>xsyd2_text_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,712},{59,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1064,712},{59,28}}</string>
				<key>sourceSize</key>
				<string>{59,28}</string>
			</dict>
			<key>xsyd2_text_szyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,977},{119,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{772,977},{119,29}}</string>
				<key>sourceSize</key>
				<string>{119,29}</string>
			</dict>
			<key>xsyd2_text_zddx.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,977},{120,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{528,977},{120,28}}</string>
				<key>sourceSize</key>
				<string>{120,28}</string>
			</dict>
			<key>xsyd2_title_djp.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,648},{163,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,648},{163,62}}</string>
				<key>sourceSize</key>
				<string>{163,62}</string>
			</dict>
			<key>xsyd2_title_fsjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,938},{211,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{315,938},{211,62}}</string>
				<key>sourceSize</key>
				<string>{211,62}</string>
			</dict>
			<key>xsyd2_title_ptp.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,648},{161,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{856,648},{161,62}}</string>
				<key>sourceSize</key>
				<string>{161,62}</string>
			</dict>
			<key>xsyd2_title_pxdx.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,942},{208,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{922,942},{208,62}}</string>
				<key>sourceSize</key>
				<string>{208,62}</string>
			</dict>
			<key>xsyd2_title_rspz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,951},{209,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,951},{209,62}}</string>
				<key>sourceSize</key>
				<string>{209,62}</string>
			</dict>
			<key>xsyd2_title_sypd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,942},{208,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1132,942},{208,62}}</string>
				<key>sourceSize</key>
				<string>{208,62}</string>
			</dict>
			<key>xsyd2_title_zdp.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,648},{163,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{691,648},{163,62}}</string>
				<key>sourceSize</key>
				<string>{163,62}</string>
			</dict>
			<key>xsyd_dhk_db.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,768},{247,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{922,768},{247,172}}</string>
				<key>sourceSize</key>
				<string>{247,172}</string>
			</dict>
			<key>xsyd_dhk_db2.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,768},{281,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{639,768},{281,207}}</string>
				<key>sourceSize</key>
				<string>{281,207}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>GameGuideUI_atlas0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>GameGuideUI_atlas0.png</string>
		</dict>
	</dict>
</plist>
