<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Jr_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,745},{211,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{221,745},{211,61}}</string>
				<key>sourceSize</key>
				<string>{211,61}</string>
			</dict>
			<key>btn_haoyou_jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,745},{219,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,745},{219,88}}</string>
				<key>sourceSize</key>
				<string>{219,88}</string>
			</dict>
			<key>btn_haoyou_jiaru_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,835},{219,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,835},{219,88}}</string>
				<key>sourceSize</key>
				<string>{219,88}</string>
			</dict>
			<key>btn_haoyou_jiaru_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,925},{219,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,925},{219,88}}</string>
				<key>sourceSize</key>
				<string>{219,88}</string>
			</dict>
			<key>fnt_jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,139},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,139},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_jiaru_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,139},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,139},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_jiaru_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,241},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_jiaru_anniu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,241},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>img_jiaru_qingkong_liang.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,745},{93,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{434,745},{93,46}}</string>
				<key>sourceSize</key>
				<string>{93,46}</string>
			</dict>
			<key>img_jiaru_shanchu_liang.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,793},{91,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{434,793},{91,46}}</string>
				<key>sourceSize</key>
				<string>{91,46}</string>
			</dict>
			<key>img_shuru.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,84},{650,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,84},{650,53}}</string>
				<key>sourceSize</key>
				<string>{650,53}</string>
			</dict>
			<key>jr_tp_fgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1015},{80,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1015},{80,2}}</string>
				<key>sourceSize</key>
				<string>{80,2}</string>
			</dict>
			<key>panel_shuru.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{733,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{733,82}}</string>
				<key>sourceSize</key>
				<string>{733,82}</string>
			</dict>
			<key>分享-升级标注.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,343},{500,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,343},{500,400}}</string>
				<key>sourceSize</key>
				<string>{500,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>JoinRoomUI_atlas0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>JoinRoomUI_atlas0.png</string>
		</dict>
	</dict>
</plist>
