<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_hyf_dt01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,767},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1995,767},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>bg_hyf_dt02.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,556},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,556},{30,20}}</string>
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>bg_zz_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{2027,787},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2027,787},{10,10}}</string>
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>biaotou_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,221},{870,88}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,221},{870,88}}</string>
				<key>sourceSize</key>
				<string>{872,88}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,626},{70,53}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1044,626},{70,53}}</string>
				<key>sourceSize</key>
				<string>{84,61}</string>
			</dict>
			<key>btn_create_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1834,578},{156,103}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1834,578},{156,103}}</string>
				<key>sourceSize</key>
				<string>{158,104}</string>
			</dict>
			<key>btn_create_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,642},{223,103}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,642},{223,103}}</string>
				<key>sourceSize</key>
				<string>{225,104}</string>
			</dict>
			<key>btn_detail_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,800},{107,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1921,800},{107,42}}</string>
				<key>sourceSize</key>
				<string>{107,42}</string>
			</dict>
			<key>btn_detail_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,582},{107,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1044,582},{107,42}}</string>
				<key>sourceSize</key>
				<string>{107,42}</string>
			</dict>
			<key>btn_duoxuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2027,767},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2027,767},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>btn_gz01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,681},{39,39}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,681},{39,39}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>btn_gz02.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,366},{48,47}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{603,366},{48,47}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>btn_haoyou_jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,690},{219,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,690},{219,88}}</string>
				<key>sourceSize</key>
				<string>{219,88}</string>
			</dict>
			<key>btn_haoyou_jiaru_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,690},{219,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,690},{219,88}}</string>
				<key>sourceSize</key>
				<string>{219,88}</string>
			</dict>
			<key>btn_hyf_creat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,578},{201,113}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1466,578},{201,113}}</string>
				<key>sourceSize</key>
				<string>{203,115}</string>
			</dict>
			<key>btn_hyf_wdzj01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,311},{187,83}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1857,311},{187,83}}</string>
				<key>sourceSize</key>
				<string>{191,87}</string>
			</dict>
			<key>btn_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2010,229},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2010,229},{36,36}}</string>
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>btn_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2010,267},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2010,267},{36,36}}</string>
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>btn_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,556},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{736,556},{40,39}}</string>
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>btn_normal_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1334,582},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1334,582},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>btn_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,396},{163,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1857,396},{163,55}}</string>
				<key>sourceSize</key>
				<string>{163,55}</string>
			</dict>
			<key>btn_unselected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,578},{163,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1669,578},{163,55}}</string>
				<key>sourceSize</key>
				<string>{163,55}</string>
			</dict>
			<key>btn_wenhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,690},{39,42}}</string>
				<key>offset</key>
				<string>{14,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{729,690},{39,42}}</string>
				<key>sourceSize</key>
				<string>{67,62}</string>
			</dict>
			<key>btn_xiala_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,415},{44,31}}</string>
				<key>offset</key>
				<string>{12,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{603,415},{44,31}}</string>
				<key>sourceSize</key>
				<string>{68,47}</string>
			</dict>
			<key>btn_xiala_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,767},{44,31}}</string>
				<key>offset</key>
				<string>{12,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1949,767},{44,31}}</string>
				<key>sourceSize</key>
				<string>{68,47}</string>
			</dict>
			<key>ditiao_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,109},{872,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1051,109},{872,8}}</string>
				<key>sourceSize</key>
				<string>{872,8}</string>
			</dict>
			<key>fnt_fanjianhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,456},{520,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{603,456},{520,60}}</string>
				<key>sourceSize</key>
				<string>{520,60}</string>
			</dict>
			<key>fnt_fanjianhao_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,456},{520,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{603,456},{520,60}}</string>
				<key>sourceSize</key>
				<string>{520,60}</string>
			</dict>
			<key>fnt_fengshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,354},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,354},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_fengshu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,354},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,354},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_haoyoufang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,468},{501,220}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,468},{501,220}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>fnt_haoyoufang_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,468},{501,220}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,468},{501,220}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>fnt_jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,354},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1255,354},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_jiaru_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,354},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1255,354},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_jiaru_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,366},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,366},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_jiaru_anniu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,366},{600,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,366},{600,100}}</string>
				<key>sourceSize</key>
				<string>{600,100}</string>
			</dict>
			<key>fnt_title_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,229},{400,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1608,229},{400,80}}</string>
				<key>sourceSize</key>
				<string>{400,80}</string>
			</dict>
			<key>fnt_title_top_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,229},{400,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1608,229},{400,80}}</string>
				<key>sourceSize</key>
				<string>{400,80}</string>
			</dict>
			<key>frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,619},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1226,619},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>icon_hyf_fankui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,683},{91,34}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1949,683},{91,34}}</string>
				<key>sourceSize</key>
				<string>{95,36}</string>
			</dict>
			<key>img_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,626},{35,34}}</string>
				<key>offset</key>
				<string>{12,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1116,626},{35,34}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>img_haoyou_fang.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,597},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{736,597},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>img_haoyou_yeqian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,567},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1992,567},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img_haoyou_yeqian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,578},{230,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,578},{230,62}}</string>
				<key>sourceSize</key>
				<string>{230,62}</string>
			</dict>
			<key>img_haoyou_yeqian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,468},{1,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{599,468},{1,45}}</string>
				<key>sourceSize</key>
				<string>{1,45}</string>
			</dict>
			<key>img_hyf_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,453},{86,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1945,453},{86,44}}</string>
				<key>sourceSize</key>
				<string>{86,44}</string>
			</dict>
			<key>img_jiaru_qingkong_liang.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,468},{93,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,468},{93,46}}</string>
				<key>sourceSize</key>
				<string>{93,46}</string>
			</dict>
			<key>img_jiaru_shanchu_liang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,719},{91,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1949,719},{91,46}}</string>
				<key>sourceSize</key>
				<string>{91,46}</string>
			</dict>
			<key>img_jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,619},{49,54}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1992,619},{49,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>img_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,642},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{729,642},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>img_shuru.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{650,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,311},{650,53}}</string>
				<key>sourceSize</key>
				<string>{650,53}</string>
			</dict>
			<key>img_yeqian_chuanjian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,674},{138,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1669,674},{138,37}}</string>
				<key>sourceSize</key>
				<string>{138,37}</string>
			</dict>
			<key>img_yeqian_chuanjian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,683},{138,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1809,683},{138,37}}</string>
				<key>sourceSize</key>
				<string>{138,37}</string>
			</dict>
			<key>img_yeqian_jiaru1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,518},{138,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1466,518},{138,37}}</string>
				<key>sourceSize</key>
				<string>{138,37}</string>
			</dict>
			<key>img_yeqian_jiaru2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,635},{138,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1669,635},{138,37}}</string>
				<key>sourceSize</key>
				<string>{138,37}</string>
			</dict>
			<key>img_yeqian_zhanji1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,722},{138,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1809,722},{138,37}}</string>
				<key>sourceSize</key>
				<string>{138,37}</string>
			</dict>
			<key>img_yeqian_zhanji2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,761},{138,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1809,761},{138,37}}</string>
				<key>sourceSize</key>
				<string>{138,37}</string>
			</dict>
			<key>img_zhanjixiangqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,518},{209,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1044,518},{209,62}}</string>
				<key>sourceSize</key>
				<string>{209,62}</string>
			</dict>
			<key>img_ziji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,800},{110,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1809,800},{110,28}}</string>
				<key>sourceSize</key>
				<string>{110,28}</string>
			</dict>
			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,453},{12,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1907,453},{12,1}}</string>
				<key>sourceSize</key>
				<string>{12,1}</string>
			</dict>
			<key>lsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,456},{500,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1125,456},{500,60}}</string>
				<key>sourceSize</key>
				<string>{500,60}</string>
			</dict>
			<key>lsz_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,456},{500,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1125,456},{500,60}}</string>
				<key>sourceSize</key>
				<string>{500,60}</string>
			</dict>
			<key>panel_shuru.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,229},{733,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{873,229},{733,82}}</string>
				<key>sourceSize</key>
				<string>{733,82}</string>
			</dict>
			<key>panel_zhanji_lineLose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,675},{48,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1992,675},{48,1}}</string>
				<key>sourceSize</key>
				<string>{48,1}</string>
			</dict>
			<key>panel_zhanji_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,1},{991,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1051,1},{991,106}}</string>
				<key>sourceSize</key>
				<string>{991,106}</string>
			</dict>
			<key>panel_zhanji_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,121},{991,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1041,121},{991,106}}</string>
				<key>sourceSize</key>
				<string>{991,106}</string>
			</dict>
			<key>panel_zhanji_zhankai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,453},{48,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1857,453},{48,1}}</string>
				<key>sourceSize</key>
				<string>{48,1}</string>
			</dict>
			<key>panel_zhanji_zhankai_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,171},{1038,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,171},{1038,48}}</string>
				<key>sourceSize</key>
				<string>{1038,48}</string>
			</dict>
			<key>panel_zhanji_zhankai_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,121},{1038,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,121},{1038,48}}</string>
				<key>sourceSize</key>
				<string>{1038,48}</string>
			</dict>
			<key>result_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,582},{71,66}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1261,582},{71,66}}</string>
				<key>sourceSize</key>
				<string>{71,69}</string>
			</dict>
			<key>result_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,619},{71,66}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1153,619},{71,66}}</string>
				<key>sourceSize</key>
				<string>{71,69}</string>
			</dict>
			<key>result_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,499},{71,66}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1945,499},{71,66}}</string>
				<key>sourceSize</key>
				<string>{71,69}</string>
			</dict>
			<key>result_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,690},{58,58}}</string>
				<key>offset</key>
				<string>{7,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{443,690},{58,58}}</string>
				<key>sourceSize</key>
				<string>{71,69}</string>
			</dict>
			<key>result_title_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,518},{209,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1255,518},{209,62}}</string>
				<key>sourceSize</key>
				<string>{209,62}</string>
			</dict>
			<key>round_lose_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,61},{1048,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,61},{1048,58}}</string>
				<key>sourceSize</key>
				<string>{1048,58}</string>
			</dict>
			<key>round_win_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1048,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1048,58}}</string>
				<key>sourceSize</key>
				<string>{1048,58}</string>
			</dict>
			<key>title_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,456},{316,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1627,456},{316,120}}</string>
				<key>sourceSize</key>
				<string>{316,120}</string>
			</dict>
			<key>title_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,582},{106,35}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1153,582},{106,35}}</string>
				<key>sourceSize</key>
				<string>{108,38}</string>
			</dict>
			<key>title_lose_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,313},{600,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,313},{600,39}}</string>
				<key>sourceSize</key>
				<string>{600,39}</string>
			</dict>
			<key>title_win_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,313},{600,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1255,313},{600,39}}</string>
				<key>sourceSize</key>
				<string>{600,39}</string>
			</dict>
			<key>topbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,681},{39,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1044,681},{39,103}}</string>
				<key>sourceSize</key>
				<string>{39,103}</string>
			</dict>
			<key>txt_meiyoujilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,518},{258,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{784,518},{258,191}}</string>
				<key>sourceSize</key>
				<string>{258,191}</string>
			</dict>
			<key>txt_wuzhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,518},{278,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,518},{278,36}}</string>
				<key>sourceSize</key>
				<string>{278,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>CreateRoomUI_atlas0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>CreateRoomUI_atlas0.png</string>
		</dict>
	</dict>
</plist>
