<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1750,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1750,750}}</string>
				<key>sourceSize</key>
				<string>{1750,750}</string>
			</dict>
			<key>bg_buxipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,1256},{166,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1301,1256},{166,178}}</string>
				<key>sourceSize</key>
				<string>{166,178}</string>
			</dict>
			<key>bg_classic2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,753},{326,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1648,753},{326,419}}</string>
				<key>sourceSize</key>
				<string>{326,419}</string>
			</dict>
			<key>bg_erren2.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,826},{166,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{341,826},{166,179}}</string>
				<key>sourceSize</key>
				<string>{166,179}</string>
			</dict>
			<key>bg_fanbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,934},{326,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1309,934},{326,244}}</string>
				<key>sourceSize</key>
				<string>{326,244}</string>
			</dict>
			<key>bg_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,753},{327,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1319,753},{327,179}}</string>
				<key>sourceSize</key>
				<string>{327,179}</string>
			</dict>
			<key>bg_jingdain0.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1082},{318,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{981,1082},{318,243}}</string>
				<key>sourceSize</key>
				<string>{318,243}</string>
			</dict>
			<key>bg_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,826},{338,418}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,826},{338,418}}</string>
				<key>sourceSize</key>
				<string>{339,419}</string>
			</dict>
			<key>bg_mult2.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,753},{339,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{640,753},{339,419}}</string>
				<key>sourceSize</key>
				<string>{339,419}</string>
			</dict>
			<key>bg_noshuffle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,836},{326,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{981,836},{326,244}}</string>
				<key>sourceSize</key>
				<string>{326,244}</string>
			</dict>
			<key>bg_team.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1269},{166,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1637,1269},{166,178}}</string>
				<key>sourceSize</key>
				<string>{166,178}</string>
			</dict>
			<key>bg_ttz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,1256},{166,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1469,1256},{166,178}}</string>
				<key>sourceSize</key>
				<string>{166,178}</string>
			</dict>
			<key>biaoyu_5qi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,432},{195,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1753,432},{195,125}}</string>
				<key>sourceSize</key>
				<string>{195,125}</string>
			</dict>
			<key>btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1084},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{593,1084},{41,41}}</string>
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>btn_answerAward.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,1174},{99,82}}</string>
				<key>offset</key>
				<string>{5,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{685,1174},{99,82}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_customer.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,1084},{124,58}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{467,1084},{124,58}}</string>
				<key>sourceSize</key>
				<string>{125,60}</string>
			</dict>
			<key>btn_daydayAward.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1246},{106,88}}</string>
				<key>offset</key>
				<string>{2,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1246},{106,88}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1933,1335},{114,54}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1933,1335},{114,54}}</string>
				<key>sourceSize</key>
				<string>{115,60}</string>
			</dict>
			<key>btn_email.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,1335},{126,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1805,1335},{126,57}}</string>
				<key>sourceSize</key>
				<string>{126,60}</string>
			</dict>
			<key>btn_family.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,1180},{150,53}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1476,1180},{150,53}}</string>
				<key>sourceSize</key>
				<string>{150,60}</string>
			</dict>
			<key>btn_huodong.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1144},{116,56}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{459,1144},{116,56}}</string>
				<key>sourceSize</key>
				<string>{116,60}</string>
			</dict>
			<key>btn_inviteGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1266},{99,85}}</string>
				<key>offset</key>
				<string>{5,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{556,1266},{99,85}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_more_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,693},{116,52}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1928,693},{116,52}}</string>
				<key>sourceSize</key>
				<string>{117,60}</string>
			</dict>
			<key>btn_more_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,639},{116,52}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1928,639},{116,52}}</string>
				<key>sourceSize</key>
				<string>{117,60}</string>
			</dict>
			<key>btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1093},{116,54}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{341,1093},{116,54}}</string>
				<key>sourceSize</key>
				<string>{117,60}</string>
			</dict>
			<key>btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1149},{116,50}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{341,1149},{116,50}}</string>
				<key>sourceSize</key>
				<string>{117,60}</string>
			</dict>
			<key>btn_share_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1202},{105,89}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{449,1202},{105,89}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_signInActivity.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,1174},{107,89}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1939,1174},{107,89}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_tenYearBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,1258},{99,86}}</string>
				<key>offset</key>
				<string>{5,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{685,1258},{99,86}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_timeLogin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1336},{106,92}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1336},{106,92}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_topCollect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,803},{54,66}}</string>
				<key>offset</key>
				<string>{9,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1976,803},{54,66}}</string>
				<key>sourceSize</key>
				<string>{67,68}</string>
			</dict>
			<key>btn_turnTable.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1246},{106,89}}</string>
				<key>offset</key>
				<string>{2,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,1246},{106,89}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>btn_videoAd.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1246},{106,88}}</string>
				<key>offset</key>
				<string>{2,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,1246},{106,88}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>chunjifuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1201},{106,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{341,1201},{106,103}}</string>
				<key>sourceSize</key>
				<string>{106,103}</string>
			</dict>
			<key>fnt-jinbizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,1269},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1805,1269},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>fnt-jinbizi_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,1269},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1805,1269},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>
			<key>h5_icon_clhxs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,432},{93,99}}</string>
				<key>offset</key>
				<string>{8,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1950,432},{93,99}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>hall_game_tip_dsw.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1007},{124,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{341,1007},{124,84}}</string>
				<key>sourceSize</key>
				<string>{124,84}</string>
			</dict>
			<key>hall_jb_qmkf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,1180},{173,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1301,1180},{173,74}}</string>
				<key>sourceSize</key>
				<string>{173,74}</string>
			</dict>
			<key>hall_tip_sjdjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,78},{268,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1753,78},{268,73}}</string>
				<key>sourceSize</key>
				<string>{268,73}</string>
			</dict>
			<key>hall_tip_sjdjs_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,826},{128,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,826},{128,256}}</string>
				<key>sourceSize</key>
				<string>{128,256}</string>
			</dict>
			<key>hall_tip_sjdjs_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,826},{128,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,826},{128,256}}</string>
				<key>sourceSize</key>
				<string>{128,256}</string>
			</dict>
			<key>icon_Collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1174},{106,90}}</string>
				<key>offset</key>
				<string>{2,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{577,1174},{106,90}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>icon_Feedback.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1174},{99,83}}</string>
				<key>offset</key>
				<string>{5,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{786,1174},{99,83}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>icon_invite_get_million.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1337},{84,99}}</string>
				<key>offset</key>
				<string>{15,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,1337},{84,99}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>icon_skydown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1944,559},{99,78}}</string>
				<key>offset</key>
				<string>{6,15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1944,559},{99,78}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>icon_welfare.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1293},{99,91}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{449,1293},{99,91}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,747},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1976,747},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>
			<key>img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,871},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1976,871},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>img_lndj_zjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,360},{93,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1952,360},{93,36}}</string>
				<key>sourceSize</key>
				<string>{93,36}</string>
			</dict>
			<key>img_match_banner_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,753},{637,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,753},{637,71}}</string>
				<key>sourceSize</key>
				<string>{637,71}</string>
			</dict>
			<key>img_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1127},{40,40}}</string>
				<key>offset</key>
				<string>{9,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{593,1127},{40,40}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>panel_arrow_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1174},{300,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1637,1174},{300,93}}</string>
				<key>sourceSize</key>
				<string>{300,93}</string>
			</dict>
			<key>panel_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,927},{39,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1976,927},{39,103}}</string>
				<key>sourceSize</key>
				<string>{39,103}</string>
			</dict>
			<key>panel_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,228},{258,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1753,228},{258,90}}</string>
				<key>sourceSize</key>
				<string>{258,90}</string>
			</dict>
			<key>panel_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,320},{217,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1753,320},{217,38}}</string>
				<key>sourceSize</key>
				<string>{217,38}</string>
			</dict>
			<key>panel_qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1336},{92,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,1336},{92,49}}</string>
				<key>sourceSize</key>
				<string>{92,49}</string>
			</dict>
			<key>tip_yiqiwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,1394},{95,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1805,1394},{95,38}}</string>
				<key>sourceSize</key>
				<string>{95,38}</string>
			</dict>
			<key>wenzi_classic2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,153},{264,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1753,153},{264,73}}</string>
				<key>sourceSize</key>
				<string>{264,73}</string>
			</dict>
			<key>wenzi_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,639},{173,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1753,639},{173,94}}</string>
				<key>sourceSize</key>
				<string>{173,94}</string>
			</dict>
			<key>wenzi_mult2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,1},{270,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1753,1},{270,75}}</string>
				<key>sourceSize</key>
				<string>{270,75}</string>
			</dict>
			<key>wenzi_noShuffle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,360},{197,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1753,360},{197,70}}</string>
				<key>sourceSize</key>
				<string>{197,70}</string>
			</dict>
			<key>wenzi_noshuffle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,559},{189,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1753,559},{189,78}}</string>
				<key>sourceSize</key>
				<string>{189,78}</string>
			</dict>
			<key>wenzi_user_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,1436},{166,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1805,1436},{166,178}}</string>
				<key>sourceSize</key>
				<string>{166,178}</string>
			</dict>
			<key>xc_lydt.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,753},{336,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{981,753},{336,81}}</string>
				<key>sourceSize</key>
				<string>{336,81}</string>
			</dict>
			<key>xc_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1933,1391},{112,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1933,1391},{112,34}}</string>
				<key>sourceSize</key>
				<string>{112,34}</string>
			</dict>
			<key>xc_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,398},{86,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1952,398},{86,27}}</string>
				<key>sourceSize</key>
				<string>{86,27}</string>
			</dict>
			<key>xc_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1935,1269},{100,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1935,1269},{100,53}}</string>
				<key>sourceSize</key>
				<string>{100,53}</string>
			</dict>
			<key>xc_x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1430},{79,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1430},{79,26}}</string>
				<key>sourceSize</key>
				<string>{79,26}</string>
			</dict>
			<key>气泡.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1306},{93,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{325,1306},{93,36}}</string>
				<key>sourceSize</key>
				<string>{93,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>HallUI_atlas0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>HallUI_atlas0.png</string>
		</dict>
	</dict>
</plist>
