<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img_bg_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1011,617}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1011,617}}</string>
				<key>sourceSize</key>
				<string>{1011,617}</string>
			</dict>
			<key>img_bg_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,0},{861,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1013,0},{861,442}}</string>
				<key>sourceSize</key>
				<string>{861,442}</string>
			</dict>
			<key>img_process_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,456},{648,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1013,456},{648,10}}</string>
				<key>sourceSize</key>
				<string>{648,10}</string>
			</dict>
			<key>img_process_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,444},{648,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1013,444},{648,10}}</string>
				<key>sourceSize</key>
				<string>{648,10}</string>
			</dict>
			<key>img_received.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,129},{35,51}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1876,129},{35,51}}</string>
				<key>sourceSize</key>
				<string>{36,51}</string>
			</dict>
			<key>img_reissue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,76},{36,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1876,76},{36,51}}</string>
				<key>sourceSize</key>
				<string>{36,51}</string>
			</dict>
			<key>img_title_everyday.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,468},{439,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1454,468},{439,134}}</string>
				<key>sourceSize</key>
				<string>{439,134}</string>
			</dict>
			<key>img_title_newplayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,468},{439,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1013,468},{439,134}}</string>
				<key>sourceSize</key>
				<string>{439,134}</string>
			</dict>
			<key>img_today.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,0},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1876,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>img_txt_subscribe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,619},{389,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,619},{389,23}}</string>
				<key>sourceSize</key>
				<string>{389,23}</string>
			</dict>
			<key>img_txt_video.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,628},{389,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1439,628},{389,23}}</string>
				<key>sourceSize</key>
				<string>{389,23}</string>
			</dict>
			<key>img_unaccalimed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,182},{32,32}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1876,182},{32,32}}</string>
				<key>sourceSize</key>
				<string>{36,51}</string>
			</dict>
			<key>ttyj_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,604},{424,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1013,604},{424,23}}</string>
				<key>sourceSize</key>
				<string>{424,23}</string>
			</dict>
			<key>txt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,604},{404,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1439,604},{404,22}}</string>
				<key>sourceSize</key>
				<string>{404,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>SignInActivityUI_atlas0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>SignInActivityUI_atlas0.png</string>
		</dict>
	</dict>
</plist>
