<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>freegold_icon_dsdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,386},{102,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{102,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>freegold_icon_fxyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1156},{124,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{124,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>freegold_icon_gjzp.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,146},{116,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{116,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>freegold_icon_jjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1156},{130,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{130,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>freegold_icon_sjbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1156},{130,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{130,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>freegold_icon_wszl.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{116,142}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{116,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>freegold_icon_wxbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1156},{130,138}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{130,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>freegold_icon_xyzp.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,270},{116,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{116,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>freegold_img_clicktitle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,386},{1,1}}</string>
                <key>offset</key>
                <string>{-110,43.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{221,88}</string>
            </dict>
            <key>freegold_img_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,386},{178,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,2}}</string>
                <key>sourceSize</key>
                <string>{178,2}</string>
            </dict>
            <key>freegold_mfjb_fbph.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{893,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{893,575}}</string>
                <key>sourceSize</key>
                <string>{893,575}</string>
            </dict>
            <key>freegold_mfjb_mfflbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{893,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{893,575}}</string>
                <key>sourceSize</key>
                <string>{893,575}</string>
            </dict>
            <key>freegold_mfjb_mffldk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{204,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,258}}</string>
                <key>sourceSize</key>
                <string>{204,258}</string>
            </dict>
            <key>freegold_mfjb_tip_xsx.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,892},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{94,52}</string>
            </dict>
            <key>freegold_mfjb_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,490},{400,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,94}}</string>
                <key>sourceSize</key>
                <string>{400,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FreeGold.png</string>
            <key>size</key>
            <string>{1015,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7350498b416676eedde1ce60325f44d4$</string>
            <key>textureFileName</key>
            <string>FreeGold.png</string>
        </dict>
    </dict>
</plist>
